.inicio_app_css {
    width: 100vw;
    background-color: rgb(40, 44, 52);
    min-height: 90vh;
}

.inicio_conteudo_css {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86vh;
    gap: 1vh;
}

.inicio_conteudo_primeiro_container_css,
.inicio_conteudo_segundo_css {
    padding: 10px;
    width: 80%;
    background-color: rgb(40, 44, 52, 0.4);
    border-radius: 10px; 
}

.inicio_conteudo_primeiro_css {
    margin: 0px;
    font-size: calc(28px + 1vmin);
    color: #fff;
    font-weight: bolder;
    -webkit-text-stroke: 0.02vw black;
    text-align: left;
}

.inicio_conteudo_text_css, .inicio_h2_css {
    color: #fff;
    text-align: right;
}

.inicio_conteudo_text_css {
    font-size: calc(14px + 0.6vmin);
}

@media (min-width: 1200px) {

    .inicio_conteudo_css {
        flex-direction: row;
        gap: 2vw;
    }

    .inicio_conteudo_primeiro_container_css,
    .inicio_conteudo_segundo_css {
        width: 40%;
        height: 60%;
    }

    .inicio_conteudo_primeiro_css {
        font-size: calc(33px + 1vmin);
    }

}

@media (min-width: 1600px) {

    .inicio_conteudo_primeiro_container_css,
    .inicio_conteudo_segundo_css {
        width: 30%;
        height: 60%;
    }

    .inicio_conteudo_primeiro_css {
        font-size: calc(40px + 1vmin);
    }

}

@media (min-width: 2000px) {

    .inicio_conteudo_primeiro_container_css,
    .inicio_conteudo_segundo_css {
        width: 25%;
        height: 60%;
    }

}