.footer_app_css {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgb(40, 44, 52, 0.7);
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.content_footer_css {
    margin: 0;
    font-size: calc(10px + 0.6vmin);
    color: white;
}