.header_app_css {
    width: 100vw;
    background-color: #282c34;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.menu_header_css {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 50vw;
    margin-left: 0;
}

.login_header_css {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-right: 4vw;
}

span,
p {
    font-size: calc(10px + 0.8vmin);
    color: black;
    margin-left: 3vw;
}


.inicio_menu_css,
.painel_menu_css,
.midia_menu_css,
.contato_menu_css,
.entrar_login_css,
.registrar_login_css,
.sair_login_css {
    font-size: calc(10px + 0.8vmin);
    color: white;
    margin-left: 3vw;
}


.login_header_css {
    width: 50vw
}

.sair_login_css,
.sair_decoration_css {
    display: none;
}