.header_app_css {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgb(40, 44, 52, 0.7);
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.menu_header_css {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    width: 100vw;
    margin-left: 0;
}

.login_header_css {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-right: 4vw;
}

span,
p {
    font-size: calc(11px + 0.7vmin);
    color: black;
    margin-left: 3vw;
}


.inicio_menu_css,
.painel_menu_css,
.midia_menu_css,
.contato_menu_css,
.entrar_login_css,
.registrar_login_css,
.sair_login_css,
.painel_menu_two_css {
    font-size: calc(11px + 0.7vmin);
    color: white;
    margin-left: 2vw;
    text-decoration: none;
}

.painel_menu_two_css {
    margin-left: 0;
    color:black
}

.inicio_menu_css {
    margin-left: 2.5vw;
}

.entrar_login_css,
.registrar_login_css,
.sair_login_css {
    cursor: pointer;
}




.sair_login_css,
.sair_decoration_css {
    display: none;
}