.header_app_css {
    width: 100vw;
    background-color: #282c34;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.menu_header_css {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_header_css {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


p {
    font-size: calc(10px + 1.4vmin);
    color: white;
    margin-left: 3vw;
}

.inicio_menu_css {
    margin-left: 0;
}